<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app Nodejs y MongoDB</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur ipsa quod deserunt, sequi dolorum suscipit!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur accusantium pariatur debitis voluptatem veritatis obcaecati vitae quam, error cupiditate? Dicta.</p>
    <a href="https://getbootstrap.com/docs/5.3/components/navbar/" class="btn btn-primary">Boostrap</a>
</div>